[submodule "WRIO-InternetOS"]
	path = WRIO-InternetOS
	url = https://github.com/webRunes/WRIO-InternetOS
[submodule "Titter-WRIO-App"]
	path = Titter-WRIO-App
	url = https://github.com/webRunes/Titter-WRIO-App.git
[submodule "Login-WRIO-App"]
	path = Login-WRIO-App
	url = https://github.com/webRunes/Login-WRIO-App.git
[submodule "Plus-WRIO-App"]
	path = Plus-WRIO-App
	url = https://github.com/webRunes/Plus-WRIO-App.git
[submodule "Default-WRIO-Theme"]
	path = Default-WRIO-Theme
	url = https://github.com/webRunes/Default-WRIO-Theme.git
[submodule "webGold-WRIO-App"]
	path = webGold-WRIO-App
	url = https://github.com/webRunes/webGold-WRIO-App.git
[submodule "Chess-WRIO-Game"]
	path = Chess-WRIO-Game
	url = https://github.com/webRunes/Chess-WRIO-Game.git
[submodule "Core-WRIO-App"]
	path = Core-WRIO-App
	url = https://github.com/webRunes/Core-WRIO-App.git
[submodule "Storage-WRIO-App"]
	path = Storage-WRIO-App
	url = https://github.com/webRunes/Storage-WRIO-App.git
